@media screen and (max-width: 499px) {
  /*　画面サイズ 499pxまで適用　*/
  .content {
    color: #red;
  }
}

@media screen and (min-width: 500px) and (max-width: 999px) {
  /*　画面サイズ 500pxから999pxまで適用　*/
  .content {
    color: #green;
  }
}

@media screen and (min-width:1000px) {
  /*　画面サイズ 1000px以上から適用　*/
  .content {
    color: #blue;
  }
}


.wrap {
  margin: 2em 0;
  padding: 0;
}

.wrap label {
  
  display: block;
  padding : 8px;
  color: #ffa500;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
}

.wrap label:hover{
    background:#ffe4c4;
}

.wrap input[type="checkbox"] {
  display: none;
}

.wrap .content {
  height: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  font-size : 14px; 
}

.switch:checked + .content {
  height: auto;
  padding: 8px;
  background: #ffe4c4;
}






